<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.0/css/all.css", integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h", crossorigin="anonymous")
        title WorkFlow - Jesús Chacón
    body
        header.header
            h1.title Jesús Chacón
            h2.title My WorkFlow
            img.logo(src="assets/img/logo.png")
            p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aliquam quidem impedit velit odit consequuntur animi similique exercitationem omnis voluptatum.
            ul.redes
                li.redes__sociales
                    a(href="https://github.com/chjesus", target="_blank")
                        i.fab.fa-github
                li.redes__sociales
                    a(href="https://twitter.com/ch__jesus", target="_blank")
                        i.fab.fa-twitter
                li.redes__sociales
                    a(href="https://www.facebook.com/jesus.chacon.1420", target="_blank")
                        i.fab.fa-facebook-f
            